# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data (Raw, Processed, Feature Stores)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep

# Models
models/*
!models/.gitkeep

# MLflow Experiment Runs
mlruns/

# IDE & System
.vscode/
.idea/
*.swp
store/
.system_generated/